body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
 color:#333;}


a{
    text-decoration: none;
}
.logoimg{
    height: 3.5vw;
}
.name{
    font-size: 1.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 900;
   
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35vw;
    padding: 1vw;
    background-color: #ffd6dd;
    
}

.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1vw;
    
    
    
    
}
.home-link,
.ph-link,
.docs-link,
.prof-link{
    color: #2C3E50;
    font-size: 1.5vw;
    padding: 0.4vw 0.75vw;
    &:hover{
        background-color: #ff858d;
        border-radius: 20px;
        padding: 0.4vw 0.75vw;

    }
}

.nav-left{
    display: flex;
    justify-content: center;
    gap: 2vw;
   
  
}
header {
    background: #98cbe1;
    color: #000000;
    text-align: center;
    padding: 15px 10px;
}

header h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    font-size: 2rem;
}

/* Main Content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fffefe;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid #ffd6dd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    resize: vertical;
}

button {
    background: #eb8e9e;
    color: #0e0d0d;
    border: none;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #ffd6dd;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background: #000000;
    color: #ffffff;
    margin-top: 20px;
}

