html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    width: 100%;
}
a{
    text-decoration: none;
}
.logoimg{
    width: 4vw;
 
}
.name{
    font-size: 1.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 900;
   
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35vw;
    padding: 1vw;
    background-color:#F4C8D1;
   
    
}

.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1vw;
    
}
.home-link,
.ph-link,
.docs-link,
.prof-link{
    color: #2C3E50;
    font-size: 1.5vw;
    padding: 0.4vw 0.75vw;
    &:hover{
        background-color: #ff858d;
        border-radius: 20px;
        padding: 0.4vw 0.75vw;
           
    }
}

.nav-left{
    display: flex;
    justify-content: center;
    gap: 2vw;
   
  
}
.media{
    display: flex;
    justify-content: center;
    background-color: white;
    gap: 5vw;
    padding: 5vh 0vh;
    
}
.docimg{
    
    width: 30vw;
    border-radius: 50px;
}
.motto{
    font-size: 2.5rem;
    width: 50vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}
.features{
    display: flex;
    justify-content: center;
    gap: 1vw;
    
}
.graph,
.appointment,
.live-monitering{
    width: 25vw;
    height: 20vh;
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;  
    background-color: #A4D9D6;
    padding: 5vh;
    gap: 5vh;
    
}
.graph-bottom,
.appointment-bottom,
.live-monitering-bottom{
    display: flex;
    justify-content: center;
   
    
}   
.graph-top,
.appointment-top,
.live-monitering-top{
    display: flex;
   
    gap: 1vw;
    color: #333333;
    font-weight: 400;
    
}
.graph-h1,
.appointment-h1,
.live-monitering-h1
{
    color: black;
    background-color: white;
    padding: 0.2vw 0.6vw;
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 0.9em;
    text-align: center;

    
    &:hover{
        background-color: rgb(94, 172, 167) ;
        color: black;
        padding: 0.2vw 0.6vw;
        text-align: center;


    }
    
}
.appointment-h1{
    
        color: rgb(255, 255, 255);
        background-color: #EF6862;
        padding: 0.5vw 0.7vw;
        border-radius: 0.2vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
        font-size: 0.9em;
        text-align: center;
        
        &:hover{
            color: #EF6862;
            background-color: white;
            padding: 0.3vw 0.5vw;
            border: solid #EF6862 0.25vw;
            text-align: center;
        
    
        }
        
    }

  

.patient-history{
    width: auto;
    
}
.testimonials{
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    padding-bottom: 10vh;
    justify-content: center;
    gap: 2vw;
    
}
.test1,
.test2,
.test3,
.test4{
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 2vh;
    background-color: #ffc7ee;
    border-radius: 2vw;
}
.checked {
    color: orange;
  }
.test1img
{
    border-radius: 50%;
    width: 15vw;
}
.test1rate{
    padding-bottom: -3vh;
}

.footer{
    background-color: rgb(190, 213, 255);
    height: 5vh;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;


}
.aboutus,
.faq,
.contactus
{
    color: black;
    padding: 0.5vw;
    font-weight: 900;

    &:hover{
        background-color: rgb(112, 154, 216);
        border-radius: 20px;
        padding: 0.5vw;
    }
}

.copywrite{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1vh;
}

@media screen and (270px <= width <= 600px)
{
    html{
        font-size: 12px;
        margin-left: auto;
        margin: 0;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 2vh;
       
        width: 103vw;
    }
    .name{ font-size: 4em;
        

    }
    .motto{
        font-size: 1.2em;
    }
    .logoimg{
        width: 15vw;
    }
    .nav-left{
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding: 3vh;
        gap: 3vw;
        
    }
    .nav-right{
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 3vw;
        background-color: #EF6862;
        width: 100vw;
        padding: 1vh;
        
        
    }

.home-link,
.ph-link,
.docs-link,
.prof-link{
    color: #ffffff;
    font-size: 1.2em;
    padding: 0.4vw 0.75vw;
   
}
.media{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
    margin-top: 5vh;


}
.docimg{
    width: 90vw;
    
}
.motto{
    font-size: 2.5em;
    width: 75vw;
    text-align: center;
    
}
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3vh;
    margin-top: 7vh;
}
.graph,
.appointment,
.live-monitering{
    width:80vw;
    height: 25vh;
    gap: 2vh;
    padding:0vh 0vw 4vh;
   
}
.graph-top,
.appointment-top,
.live-monitering-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    color: #202020;
    padding: 2vh 0vw;
    
}
.graph-h1,
.appointment-h1,
.live-monitering-h1{
    font-size: 1.2em;
    text-align: center;
    padding: 2vw 5vw;
    width: 50vw;
    border-radius: 5vw;
  
}
.graph-tagline,
.appointment-tagline,
.live-monitering-tagline{
    width: 70vw;
    font-size: 1.3em;
    text-align: center;
    

}
.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5vh;

}
.test1,
.test2,
.test3,
.test4{
 
    width: 70vw;
    font-size: 1.5em;
    text-align: center;
    display: flex;
   

}
.test1img
{
    width: 25vw;
}
.test1name{
    font-size: 1em;
    font-weight: 900;
}
.test1data{
    width: 60vw;
    text-align: center;
    word-wrap: normal;
    line-height: 3.4vh;
}

}
